body {
  margin: 0;
}

nav {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #323232;
  letter-spacing: 1.5px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.About {
  font-family: 'PT Sans Narrow', sans-serif;
  float: right;
  margin-left: 25px;
  font-weight: 100;
}

.Contact {
  float: right;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 100;
}

#batmancat {
  margin: inherit;
}

.mobilecat {
  display: none;
}

#mobilecatmap {
  display: none;
}

h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.875em;
  letter-spacing: 2.5px;
  margin: 80px 0px 80px 0px;
}

h3 {
  font-family: 'PT Serif', serif;
  font-weight: 100;
  text-align: -webkit-match-parent;
  max-width: 675px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.kat {
  color: #00897f;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.box_row {
  text-align: center;
}

.box1 {
  display: inline-block;
  height: 225px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 45px;
  background-color: #EEEEEE;
  margin: 80px 80px 80px 80px;
}

.Mavis {
  color: #00897f;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

p {
  font-family: 'PT Serif', serif;
  font-size: .875em;
  line-height: 1.75em;
  width: 230px;
}

.cat_images {
  text-align: center;
  max-height: -webkit-fill-available;
}

.img-circle {
  border-radius: 50%;
  margin-right: 55px;
}

.box_row_bottom {
  display: inline-block;
  background-color: #EEEEEE;
  width: 100%;
  margin-top: 80px;
  height: auto;
  text-align: center;
}

.boxhours {
  display: inline-block;
  height: 150px;
  padding-bottom: 30px;
  background-color: #ffffff;
  width: 250px;
  text-align: center;
  margin-bottom: 80px;
}

.hours {
  color: #00897f;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.hourdetails {
  font-family: 'PT Serif', serif;
  font-size: 0.75em;
  color: #323232;
  width: 100%;
  text-align: -webkit-left;
  text-transform: uppercase;
  line-height: 2em;
}

.contact_info {
  color: #00897f;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.boxcontact {
  display: inline-block;
  height: 150px;
  padding-bottom: 30px;
  background-color: #ffffff;
  width: 250px;
  margin-left: 60px;
  text-align: center;
}

.contactdetails {
  font-family: 'PT Serif', serif;
  font-size: 0.75em;
  color: #323232;
  width: 100%;
  span: color #f26522;
  text-align: -webkit-left;
  text-transform: uppercase;
  line-height: 2em;
}

.tab {
  text-indent: 55px;
  color: #f26522;
}

.kats-map {
  width: 100% height:auto;
}

.box5 {
  display: inline-block;
  background-color: #323232;
  width: 100%;
  margin: auto;
}

footer h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25em;
}

/* for tablets */

@media(max-width: 950px) {
  .box_row_bottom {
    margin-top: 20px;
  }
  .h1 {
    margin: 20px 0px 20px 0px;
  }
  .box1 {
    margin: 0px 0px 20px 0px;
  }
  .boxcontact {
    display: none;
  }
  .cat_images :first-child {
    display: none;
  }
  .img-circle {
    margin: auto;
  }
}

/* On devices smaller than 390px */

@media(max-width: 400px) {
  h3 {
    padding-left: 30px;
  }
  .About {
    display: none;
  }
  .Contact {
    display: none;
  }
  .nav {
    display: none;
  }
  .h1 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    margin: auto;
  }
  #batmancat {
    display: none;
  }
  .mobilecat {
    display: block;
    z-index: 1;
  }
  .mobilecat :last-child {
    z-index: 2;
    position: absolute;
    top: 40;
    left: 80;
    max-height: 55%;
  }
  .box_row_bottom {
    margin: auto;
  }
  .boxcontact {
    margin: auto;
  }
  .box1 {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }

  .h2 {
    margin-right: 60px;
  }
  .cat_images :first-child {
    display: none;
  }
  .cat_images :nth-child(2) {
    display: none;
  }
  .img-circle {
    margin: 20px;
  }

  .boxhours {
    display: block;
    background-color: inherit;
    margin: auto;
    text-align: center;
    padding-bottom: 0px;
  }

  .boxcontact {
    display: block;
    background-color: inherit;
    text-align: center;
  }
  .touch :only-child {
    display: none;
  }

}
